table{
    width: 200px;
    height: 300px;
    border-collapse: collapse;
}
.tdPadding{
   padding-left: 17px;
   padding-bottom: 50px;
   padding-inline-end: 70px;
}
.check1 {
    height: 50px;
    width: 90px;
    appearance: none;
    background: rgb(108 147 110);
    border-radius: 26px;
    position: absolute;
}

.check1::before {
    content: "";
    height: 44px;
    width: 44px;
    position: absolute;
    background: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition:all 0.5s;
}
.check1:checked{
    background: blue;
}
.check1:checked::before{
    left: 40px;
    background:white ;
    transition: all 0.5s;
}
.check2 {
    height: 50px;
    width: 90px;
    appearance: none;
    background: rgb(108 147 110);
    border-radius: 26px;
    position: absolute;
}

.check2::before {
    content: "";
    height: 44px;
    width: 44px;
    position: absolute;
    background: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition:all 0.5s;
}
.check2:checked{
    background: red;
}
.check2:checked::before{
    left: 40px;
    background:white ;
    transition: all 0.5s;
}
.check3 {
    height: 50px;
    width: 90px;
    appearance: none;
    background: rgb(108 147 110);
    border-radius: 26px;
    position: absolute;
}

.check3::before {
    content: "";
    height: 44px;
    width: 44px;
    position: absolute;
    background: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition:all 0.5s;
}
.check3:checked{
    background: orange;
}
.check3:checked::before{
    left: 40px;
    background:white ;
    transition: all 0.5s;
}